@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --primaryColor: #1D267D;
    --primaryLightColor: #3a407b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Inter';
    scrollbar-color: var(--primaryColor) white;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

a {
    color: black;
}

.primary {
    color: var(--primaryColor);
}

.grid {
    margin: 20px 0;
}